:root {
  --color-main: rgb(255, 188, 13);
}
body {
  font-family: 'Ubuntu', sans-serif;
}
header {
  box-shadow: 0px -2px 10px rgba(255,255,255,0.3);
}
footer {
  box-shadow: 0px -2px 10px rgba(255,255,255,0.3);
}
a,
p,
label {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.action-button {
  background-color: var(--color-main);
  /* This is a color variable defined by bootstrap */
  color: var(--bs-body-bg);
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
  font-weight: bold;
}
.action-button:active {
  opacity: 0.5;
}
.cart-toggle-button-container {
  max-height: 134px;
}