:root {
  --color-main: rgb(255, 188, 13);
}
body {
  font-family: 'Ubuntu', sans-serif;
}
header {
  box-shadow: 0px -2px 10px rgba(255,255,255,0.3);
}
a,
p {
  text-decoration: none;
  color: white;
}
.action-button {
  background-color: var(--color-main);
  /* This is a color variable defined by bootstrap */
  color: var(--bs-body-bg);
}